* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #ffeb3b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #ff5722;
}

p {
  margin: 5px 0;
}
